@import "../../../css/config.css";
@import "../../../css/libs/caesar.css";

@keyframes nav-link-click {
  0% {
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
  }

  50% {
    top:10%;
    bottom:10%;
    left:10%;
    right:10%;
  }

  70% {
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
  }

  85% {
    top:-5%;
    bottom:-5%;
    left:-5%;
    right:-5%;
  }

  100% {
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
  }
}

.nav{
  &__link{
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 0.25rem;

    font-weight: bold;
    font-size: 0.55rem;
    opacity: 0.8;
    color: var(--type-color-light);
    text-decoration: none;

    transition: 0.25s var(--easeOutQuad);

    &:after{
      content: '';
      position: absolute;
      z-index: -1;
      left: 1rem;
      right: 1rem;
      top:76%;
      bottom: 20%;

      border-radius: 0.1rem;

      background-color: color(var(--type-color-light) alpha(50%));

      transition: inherit;
      animation-fill-mode: forwards;
    }

    &:visited{
      color: var(--type-color-light);
    }

    &:not(.nav__link--active):hover,
    &:not(.nav__link--active):focus{
      outline: none;

      opacity: 1;

      color: var(--type-color-dark);

      &:after{
        top:0;
        bottom:0;
        left: 0;
        right: 0;

        background-color: var(--type-color-light);
      }
    }

    &.nav__link--active{
      color: var(--type-color-dark);

      cursor: default;

      &:after{
        animation-duration: 0.3s;
        animation-name: nav-link-click;
        animation-timing-function: var(--easeInOutQuad);

        background-color: var(--type-color-light);
      }
    }
  }
}
