
@import "./libs/reset.css";
@import "config.css";
@import "type.css";

*, *:before, *:after {
  box-sizing: inherit;
  user-select:none;
}

html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;

  color: var(--type-color-light);

  font-size: calc(var(--minimum-font-size)px + (var(--maximum-font-size) - var(--minimum-font-size)) * ((100vw - var(--minimum-viewport-width)px) / (var(--maximum-viewport-width) - var(--minimum-viewport-width))));
}

strong{
	font-weight: bold;
}
