
@import "./libs/reset.css";
@import "config.css";
@import "type.css";

*, *:before, *:after {
  box-sizing: inherit;
  user-select:none;
}

html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;

  color: var(--type-color-light);
  letter-spacing: 0.05rem;

	@media screen and (min-width: 25em){
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
}

strong{
	font-weight: bold;
}
