:root{
	--minimum-font-size:24;
  --maximum-font-size:30;

  --minimum-viewport-width:320;
  --maximum-viewport-width:1200;

	--horizontal-padding: 5vw;

	/* colors */
	--primary-color:#fff;
	--secondary-color:#2b106b;

	--background-color-a:color(color(var(--secondary-color) hue(+25)) lightness(40));
	--background-color-b:var(--secondary-color);

	/* states */
	--valid-color: green;
	--invalid-color: red;

	/* links */
	--linkColor : #35efbe;

	/* type */
	--type-color-dark: var(--secondary-color);
	--type-color-light: var(--primary-color);

	/* icons */
	--icon-size-reg:1.3rem;
	--icon-size-small:0.8rem;

	/* media queries */
	@custom-media --ie11-only-hack (-ms-high-contrast:none);
	@custom-media --edge-only-hack (-ms-accelerator:true);
	@custom-media --mobile-breakpoint (min-width:480px);
}
