@import "type.css";

.content{
  & > h2{
    margin-bottom: 0.2rem;

    @mixin display-face;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;

    & + p{
      opacity: 0.85;

      font-size: 0.7rem;
      font-weight: bold;
    }
  }

  & > p{
    max-width: 24rem;
    margin-bottom: 0.6rem;

    @mixin text-face;
    font-size: 0.6rem;
    line-height: 1.2rem;
  }

  & > button{
    margin: 0.5rem 1rem 1rem 0;

    @media(max-width: 400px)
    {
      min-width: 60vw;
    }
  }
}
