:root{
  --display-font-path : "./../fonts/oswald/oswald";
  --text-font-path : "./../fonts/opensans/opensans";
}

@font-face {
  font-family: 'textFont';
  src: url(var(--text-font-path)-regular.woff2) format('woff2'),
       url(var(--text-font-path)-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'textFont';
  src: url(var(--text-font-path)-bold.woff2) format('woff2'),
       url(var(--text-font-path)-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'displayFont';
  src: url(var(--display-font-path)-bold.woff2) format('woff2'),
       url(var(--display-font-path)-bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
	--text-font : 'textFont', Arial, serif;
  --display-font : 'displayFont', Arial, serif;
}

@define-mixin text-face{
  font-family:var(--text-font);
  letter-spacing: .1rem;
}

@define-mixin display-face{
  font-family:var(--display-font);
  word-spacing: .1rem;
}
